section {
  max-width: 1300px;
  margin: 0 auto;
}

.feature__image {
    height: auto;
}

.feature__text {
  top: auto;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.work-artifacts {
  padding: 0;
}

.work-item {
  box-sizing: border-box;
  margin-bottom: 8px;
}

.work-item:nth-of-type(odd) {
  margin-right: 8px;
}

.work-item:nth-of-type(even) .mask,
.work-item:nth-of-type(odd) .mask {
  opacity: 0.4;
}

.work-item:nth-of-type(even):hover .mask,
.work-item:nth-of-type(odd):hover .mask {
  opacity: 0.8;
}

.work-item.more .mask {
  opacity: 1;
}

a.back,
a.back:hover {
    border: 0;
}

.project--actions {
  background: #fbfbfb;
  display: block;
  border-top: 1px solid #d2d2d2;
  box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
  margin-top: 30px;
}

.project--actions:after {
  display:table;content:"";clear:both
}

.project--actions .col {
  width: 100%;
  display: block;
  text-align: center;
}

.project--actions .col a {
  display: block;
  padding: 30px 0;
  border: 0;
  transition: all .25s cubic-bezier(.23,.61,.41,1);
  box-sizing: border-box;
}

.project--actions .col a.prev,
.project--actions .col a.next {
  background: #ef413d;
  color: #FFF;
  transition: all .25s cubic-bezier(.23,.61,.41,1);
}

.project--actions .col a.view-all {
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}
.project--actions .col a:hover {
  background: #ef413d;
  color: #fff;
}
.project--actions .col a.prev,
.project--actions .col a.next {
  display: block;
  margin: 10px auto 0;
  height: 60px;
  width: 60px;
  padding: 0;
  line-height: 71px;
  border-radius: 50%;
  background: #ef413d;
  color: #FFF;
  transition: all .25s cubic-bezier(.23,.61,.41,1);
}
.project--actions .col a.prev:hover,
.project--actions .col a.next:hover {
  background: #ef413d;
  color: #FFF;
  transition: all .25s cubic-bezier(.23,.61,.41,1);
}

section.footer {
  background: #fbfbfb;
  text-align: center;
}

@media (min-width: 700px) {
  .project--actions .col {
    width: 33.3333%;
    float: left;
  }
}


@media (min-width: 700px) {
  .the-facts .project__metadata {
    border-left: 0;
  }
  .the-facts .project__description {
    border-right: 2px solid #ef413d;
    min-height: 400px;
  }
}

@media (min-width: 980px) {
  .feature--50-50 {
    height: auto;
  }
  .feature--full {
    height: auto;
  }
  .feature__image {
    height: auto;
  }
  .feature__text {
    top: auto;
  }
  .feature--full.short {
    height: auto;
  }
  .feature--full .feature__image,
  .feature--full.short .feature__image {
    height: auto;
  }

}

